@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This web site is a working demo for posts on my blog at 
        <a href="http://dependencyinjector.wordpress.com" target="_blank">dependencyinjector.wordpress.com</a>.  Eventually we'll have live demos here, but 
        for now it just serves as a demo for my post on continuous integration and deployment using GitHub, AppVeyor and Windows Azure.</p>
    <p><a href="http://dependencyinjector.wordpress.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>
            Get the source code for this project on GitHub.
        </p>
        <p><a class="btn btn-default" href="https://github.com/dependencyinjector/dependencyinjector">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Build Status</h2>
        <p>Check out the current build status of this project on AppVeyor.</p>
        <p><a class="btn btn-default" href="http://www.appveyor.com/" target="_blank">Check Status&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Windows Azure</h2>
        <p>Learn more about hosting your projects on Microsoft Azure.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/">Learn more &raquo;</a></p>
    </div>
</div>